<% content_for :title, "New contato" %>

<h3>Contato</h3>
<div>
  <p>Entre em contato conosco para saber mais informações e instalar sua central solar na sua casa ou na sua empresa.</p>
  <p>Telefone e Whatsapp: (62) 4002 9822</p>
  <p>Email: contato@suaempresaaqui.com</p>
</div>
<div>
  <p><strong>Se prefirir, nos entramos em contato com você</strong></p>
  <%= render "form", contato: @contato %>
</div>
